# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/.vscode
/sample/log*
/sample/easy-gin
__debug_bin
tmp
log
logs

# Visual Studio 2015 cache/options directory
.vs/
/file/temp/